body {
  background: #333;
}

.lien {
  display: none;
}

#subnav {
  position: fixed;
  z-index: 88;
  font-family: sans-serif;
  text-transform: uppercase;
  bottom: 5%;
}
#subnav > a {
  display: inline-block;
  margin: 0 30px;
  padding: 15px 0;
  color: #eee;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
#subnav > a:after {
  display: block;
  content: '';
  width: 0%;
  height: 3px;
  background: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s all;
  width: 0;
  left: 100%;
}
#subnav > a:hover:after,
#subnav > a.active:after {
  transition: 0.5s width;
  width: 100%;
  left: 0;
}

#caroussel {
  position: static;
}
#caroussel li {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 1s;
  background-size: cover !important;
}
#caroussel li.active {
  opacity: 1;
}

.nav {
  position: fixed;
  top: 45%;
  right: 40px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 3px solid #ccc;
  transition: .5s;
}

.nav:after {
  content: ' ';
  display: block;
  position: relative;
  height: 8px;
  width: 8px;
  top: 20px;
  transform: rotate(45deg);
}

#next {
  margin-top: -40px;
}

#next:after {
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  left: 18px;
}

#prev {
  margin-top: 40px;
}

#prev:after {
  border-left: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  left: 22px;
}
